.header{
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.logo{
    color: var(--app-black);
    text-decoration: none;
    cursor: pointer;
}

.header span{
    color: var(--app-green);
}

@media screen and (min-width: 768px){

}